<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CncViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <CncViewer.Properties.Settings>
            <setting name="ShowPanelHolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCollider" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LightType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTrianglesNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFrameDetails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundStartColor" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="BackgroundStopColor" serializeAs="String">
                <value />
            </setting>
            <setting name="DynamicTransition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStepOver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaterialRemoval" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectByView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadLastEnvironmentAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastEnvironmentAtStartup" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowCameraInfo" serializeAs="String">
                <value>False</value>
            </setting>
        </CncViewer.Properties.Settings>
    </userSettings>
</configuration>
